@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Nunito Sans";
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
  /* Set the width of the scrollbar */
}

/* Change the background color of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: rgb(0, 153, 255);
  /* Set the color of the scrollbar thumb */
}